<html>
  <head>
    <title>Reddit Reader</title>
    <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet" />
  </head>

  <body cz-shortcut-listen="true">
    <header>
      <h1><a href="/">Reddit Reader</a></h1>
      <h3>{{key_list}}</h3>
    </header>
    <main>
      {%for news in news_list %} {%for item in news %}
      <div>
        <h3>
          <a href="{{item.link}}" target="_blank">{{item.title}}</a>
        </h3>
        <h4>{{item.upvote}} upvotes · r/{{item.key}}</h4>
        <hr />
      </div>
      {%endfor%} {%endfor%}
    </main>
  </body>
</html>
