<html><head>
	<title>
    Nomad News | Stephen Hawking has died
  </title>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet">
</head>

<body cz-shortcut-listen="true">
  <header>
    <h1>{{title}}</h1>
    <div>
        {{point}} points | {{author}} | <a href="{{url}}" target="_blank">{{url}}</a>
    </div>
  </header>
  <main>
      {% for comment in comment_list %}
      <div>
          <strong>{{comment.id}}:</strong>
          <p></p>
          <p>{{comment.text|safe}}</p>
          <p></p>

      </div>
      <hr>
      {%endfor%}
  </main>


</body></html>